@charset "UTF-8";

    /* 스와이프 */
        .swiper-container{padding-bottom: 20px;}
        .swiper-pagination{display: flex;}
        .swiper-pagination>span{flex:33.333%;border-radius:0;height: auto;padding:5px 0; font-size: 12px;
            border-left:1px solid #ddd;border-bottom:1px solid #ddd;}
        .swiper-pagination>span:first-child{border-left:none;}
        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0;}
        .swiper-pagination-bullet{background: white; opacity: 1;}
        .swiper-pagination-bullet-active{background-color: blue;color: white; font-weight: bold;}
        
    /* 바로가기 */
        .article{padding:26px 0}

        .shortcuts{display:grid;grid-template-columns: 160px 160px;grid-column-gap:50px;}
        .shortcuts>a>div{display: grid; grid-template-columns:auto 30px; border-bottom: 2px solid green; 
            padding: 10px 0;}
        .short_txt{font-size: 14px;color: green;}
        .short_arrow{background:green;color:white;height:30px;border-radius:30px;line-height:28px;text-align:center;}

    /* 페이퍼 */
        .papers{display: grid;grid-template-columns: auto auto auto auto; grid-column-gap: 20px;}
        .papers_tit,.notice_tit,.notice_txt>li{display: grid; grid-template-columns: auto auto; justify-content: space-between; 
            border-bottom: 1px solid #ccc;padding-bottom: 10px;}
        .papers_tit>p,.notice_tit>p{display: flex;align-items: flex-end;}
        .papers_tit>p>a,.notice_tit>p>a,.not_txt_right{font-size: 12px;color: #666;}
        .papers_img{margin: 20px 0;}
        .papers_txt>p{font-weight: bold;color: #333;}

    /* 노티스 */
        .notice{display: grid;grid-template-columns: auto auto; grid-column-gap: 50px;}
        .notice_tit{margin-bottom: 20px;}
        .notice_txt>li{border-bottom:none;}
        .not_txt_left{font-size:14px; color: #666; padding-bottom: 5px;}